@page "/ShowCoin/{Id:int}"
@inject NavigationManager navigationManager
@inject IJSRuntime js
@using Models
@using DBL
@if (c == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <!-- Product section     URL=https://startbootstrap.com/template/shop-item#google_vignette-->
    <section class="py-1">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="data:image/@c.icon;base64, @System.Convert.ToBase64String((byte[])@c.icon)" alt="@c.icon" width="700" height="600" /></div>
                <div class="col-md-6">
                    <div class="small mb-1">@c.symbol</div>
                    <h1 class="display-5 fw-bolder">@c.namecoin</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">c.rate</span>
                        @* <span>$@c.ProductPrice.ToString("0.00")</span> *@
                    </div>
                    @* <p class="lead">@p.ProductName</p> *@
                    @* <div class="d-flex">
                        <input @bind-value="Quantity" class="form-control text-center me-3" id="inputQuantity" type="num" style="max-width: 3rem" />
                        <button @onclick="() => addToCart(p)" class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div> *@
                </div>
            </div>
        </div>
    </section>
}
@code {

    [Parameter] public int id { get; set; }
    private coin c = null;
    protected override async void OnParametersSet()
    {
        coinDB cdb = new coinDB();
        c = (coin)await cdb.SelectByPkAsync(id);
    }

}